# ═══════════════════════════════════════════════════════════════════════════
# MICROSERVICES CONFIGURATION
# ═══════════════════════════════════════════════════════════════════════════
LOGIN_BASE_URL=
LOGIN_API_KEY=

CATALOGO_BASE_URL=
CATALOGO_API_KEY=

# ═══════════════════════════════════════════════════════════════════════════
# GATEWAY RUNTIME
# ═══════════════════════════════════════════════════════════════════════════
NODE_ENV=
GRPC_PORT=
